# Secrets - IMPORTANT
.env
.env.local
.env*.local

# Dependencies
node_modules/

# Next.js build
.next/
out/

# Prisma local database
prisma/dev.db
prisma/dev.db-journal

# Mac
.DS_Store
__MACOSX/

# IDE
.vscode/
.idea/

# Logs
*.log
